<div id='wiki'>
  <div id="wiki-menu">
      <span id="size-menu">Information</span>
      <span class="icons"><i class="fa fa-times"></i></span>
      <span class="icons" id="maxmin"><i class="fa fa-minus"></i></button></span>
  </div>
  <div id="info">
    <iframe id="wiki-info" src="" width="99.5%" height="99%" name="SubHtml" scrolling="auto" frameborder="1">
      <p>Texto alternativo para navegadores que no aceptan iframes.</p>
    </iframe>
  </div>
</div>

<!-- Tabla Periodica-elementos -->
<div>
	<table id="periodic-table">
		<tr class="row-header">
			<td id='legend'>
					<table id="box-legend">
						<tr>
							<td id="atomic-number" class="atomic-number"> Z </td>
							<td id="legend-property" class="element-property" colspan="2"> Atomic mass </td>
						</tr>
						<tr>
							<td id="atomic-short" class="atomic-number" colspan="3"> Symbol </td>
						</tr>
						<tr>
							<td id="elect-configuration" class="electron-configuration" colspan="3"> Configuration</td>
						</tr>
						<tr>
							<td id="atomic-name" class="atomic-name" colspan="3">Name </td>
						</tr>
					</table>
					<table id="mass-molecule">
						<tr>
							<td class="molecular-calculator"> Molecular Weight Calculator </td>
						</tr>
						<tr>
							<td> Enter the Molecular Formula: </td>
						</tr>
						<tr>
							<td colspan="2"> 
								<%= form_tag(element_molecule_path) do %>
									<%= text_field_tag :molecule, params[:molecule], placeholder: "Ex. H2O", :size => 20, :class=>"atom-imputs" %> 
									<button><i>Calculate</i></button>
								<% end %>
							</td>
						</tr>
						<tr>
							<td class="mass-result"> <%= @molecular_weight %> </td>
						</tr>
					</table>
			</td>

			<% (1..18).each do |i| %>
				<td id="group<%= i %>" class="group"> <%= i %>  </td>
			<% end %>
		</tr>
		<% i = 0 %>
		<% @matrix_elements.each_with_index do |period, index| %>
			<tr class="row"> 
				<% if index < 7 %>
					<td class="period" id="period<%= index + 1 %>" data-period="<%= index + 1 %>"> 
						<%= index + 1 %> 
					</td>
				<% else %>
					<td> </td>
				<% end %>

				<% period.each do |is_an_element|  %>
					<% if is_an_element == 2 %>
						<% i = i + 15 %>
					<% elsif is_an_element == 3 %>
						<% i = i - 62 %>
					<% elsif is_an_element == 4 %>
						<% i = i + 17 %>
					<% end %>

					<% if is_an_element > 0 && is_an_element < 5  %>
						<td id="element<%= i %>" class="border-element"> 
							<table class="element-box">
								<tr>
									<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
									<td class="element-property" id="element<%= i %>-property" colspan="2"> <%= round_to_x_decimals(@elements[i].mass, 3) %> </td>
								</tr>
								<tr>
									<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
								</tr>
								<tr>
									<td class="electron-configuration" colspan="3"> <%= element_configuration(@elements[i].electron_configuration) %> </td>
								</tr>
								<tr>
									<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
								</tr>
							</table>
						</td>
						<% i += 1 %>
					<% elsif is_an_element == 5 %>
						<td class="period period-special" id="period<%= index %>" data-period="<%= index - 2 %>"> <%= index - 2 %> </td>
					<% elsif is_an_element == 6 %>
						<td class="elementoids" id="elementoids<%= index + 1 %>" data-period="<%= index + 1 %>"> <%= (i+1) %> - <%= (i+15) %> </td>
					<% else %>
						<td class="no-border"> </td>
					<% end %>
				<% end %>
			<% end %>
		</tr>
	</table>
</div>
