<!-- Tabla Periodica-elementos -->
<div id="periodic-table">
	<table id="limits">
		<tr class="row-header">
			<td id='legend'>
					<div id="game-options">
						<p class='timer'></p>				
					</div>
					<table id="random-elements-legend">
						<% (0..1).each do |j| %>
							<tr>
								<% (0..5).each do |i| %>
									<td class="border-element-options" id="random-element<%= i+j*6 %>" data-symbol="">
										<table class="element-box">
											<tr class="atomic-symbol">
												<td class="atomic-short random-atomic-short" id="random-atomic-short<%= i+j*6 %>"  colspan="3"></td>
											</tr>
											<tr class="atom_name">
												<td class="random-atomic-name" id="random-atomic-name<%= i+j*6 %>" colspan="3"> </td>
											</tr>
										</table>
									</td>
								<% end %>
							</tr>
						<% end %>
					</table>
					<div id='second-legend-game'>
						<div>Total score: <span id='score'>0</span></div>
	        </div>
					<div id="successMessage" class="message">
				    <h2>You did it!</h2>
				    <button>Play Again</button>
  				</div>
  				<div id="successMessageTimer" class="message">
				    <h2>Time is over!</h2>
				    <button>Play Again</button>
  				</div>
			</td>

			<% (1..18).each do |i| %>
				<td id="group<%= i %>-game" class="group-game"> <%= i %>  </td>
			<% end %>
		</tr>
		<% i = 0 %>
		<% @matrix_elements.each_with_index do |period, index| %>
			<tr class="row"> 
				<% if index < 7 %>
					<td class="period-game" id="period<%= index + 1 %>-game" data-period="<%= index + 1 %>"> 
						<%= index + 1 %> 
					</td>
				<% else %>
					<td> </td>
				<% end %>

				<% period.each do |is_an_element|  %>
					<% if is_an_element == 2 %>
						<% i = i + 15 %>
					<% elsif is_an_element == 3 %>
						<% i = i - 62 %>
					<% elsif is_an_element == 4 %>
						<% i = i + 17 %>
					<% end %>

					<% if is_an_element > 0 && is_an_element < 5  %>
						<td class="border-element-game" id="element-game<%= i %>" data-symbol="<%= @elements[i].short_name %>"> 
							<table class="element-box-game">
								<tr>
									<td class="atomic-short" id="atomic-short<%= i %>" colspan="3"> <%= @elements[i].short_name %></td>
								</tr>
								<tr>
									<td class="atomic-name" id="atomic-name<%= i %>" colspan="3"><%= @elements[i].long_name %></td>
								</tr>
							</table>
						</td>
						<% i += 1 %>
					<% elsif is_an_element == 5 %>
						<td class="period-game period-special-game" id="period<%= index %>-game" data-period="<%= index - 2 %>"> <%= index - 2 %> </td>
					<% elsif is_an_element == 6 %>
						<td class="elementoids-game" id="elementoids<%= index + 1 %>-game" data-period="<%= index + 1 %>"> <%= (i+1) %> - <%= (i+15) %> </td>
					<% else %>
						<td class="no-border-game"> </td>
					<% end %>
				<% end %>
			<% end %>
		</tr>
	</table>
</div>
