<header></header>
<!-- Tabla Periodica-elementos -->
	<table id="periodic-table">
		<tr class="row-header">
			<td> </td>
			<% (1..18).each do |i| %>
				<td> <%= i %> </td>
			<% end %>
		</tr>
		<% i = 0 %>
		<% @matrix_elements.each_with_index do |period, index| %>
			<tr class="row"> 
				<td class="column-periods"> 
					<% if index < 7 %>
						<%= index + 1 %> 
					<% end %>
				</td>
				<% period.each do |is_an_element|  %>
					<% if is_an_element == 1 %>
						<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
							<table class="element-box">
								<tr>
									<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
									<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
								</tr>
								<tr>
									<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
								</tr>
								<tr>
									<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
								</tr>
								<tr>
									<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
								</tr>
							</table>
						</td>
						<% i += 1 %>
					<% elsif is_an_element == 2 %>
						<% i = i + 15 %>
						<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
							<table class="element-box">
								<tr>
									<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
									<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
								</tr>
								<tr>
									<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
								</tr>
								<tr>
									<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
								</tr>
								<tr>
									<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
								</tr>
							</table>
						</td>
						<% i += 1 %>
					<% elsif is_an_element == 3 %>
						<% i = i - 62 %>
						<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
							<table class="element-box">
								<tr>
									<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
									<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
								</tr>
								<tr>
									<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
								</tr>
								<tr>
									<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
								</tr>
								<tr>
									<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
								</tr>
							</table>
						</td>
						<% i += 1 %>
					<% elsif is_an_element == 4 %>
						<% i = i + 17 %>
						<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
							<table class="element-box">
								<tr>
									<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
									<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
								</tr>
								<tr>
									<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
								</tr>
								<tr>
									<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
								</tr>
								<tr>
									<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
								</tr>
							</table>
						</td>
						<% i += 1 %>
					<% elsif is_an_element == 5 %>
						<td class="column-periods"> <%= index - 2 %> </td>
					<% else %>
						<td class="no-border"> </td>
					<% end %>
				<% end %>
			<% end %>
		</tr>
	</table>
