<header>
	<div id="property-options">
		<label><input type="button" value="Atomic mass (g/mol)" name="characterist" id="mass" class="property-button"></label>
		<label><input type="button" value="Melting point (K)" name="characterist" id="melting-point" class="property-button"></label>
		<label><input type="button" value="Boiling point (K)" name="characterist" id="boiling-point" class="property-button"></label>
		<label><input type="button" value="Abundance (%)" name="characterist" id="abundance" class="property-button"></label>
		<label><input type="button" value="Radium (pm)" name="characterist" id="radium" class="property-button"></label>
		<label><input type="button" value="Ionization energy (kJ/mol)" name="characterist" id="ionization-energy" class="property-button"></label>
		<label><input type="button" value="Electronegativity" name="characterist" id="electronegativity" class="property-button"> </label>
		<label><input type="button" value="Electron affinity (KJ/mol)" name="characterist" id="electron-affinity" class="property-button"></label>
		<label><input type="button" value="Categories" name="characterist" id="categories" class="property-button"></label>
	</div>


</header>
<!-- Tabla Periodica-elementos -->
	<table id="periodic-table">
		<tr class="row-header">
			<td> </td>
			<% (1..18).each do |i| %>
				<td> <%= i %> </td>
			<% end %>
		</tr>
		<% i = 0 %>
		<% @matrix_elements.each_with_index do |period, index| %>
			<tr class="row"> 
				<td class="column-periods"> 
					<% if index < 7 %>
						<%= index + 1 %> 
					<% end %>
				</td>
				<% period.each do |is_an_element|  %>
					<% if is_an_element == 2 %>
						<% i = i + 15 %>
					<% elsif is_an_element == 3 %>
						<% i = i - 62 %>
					<% elsif is_an_element == 4 %>
						<% i = i + 17 %>
					<% end %>

					<% if is_an_element > 0 && is_an_element < 5  %>
						<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
							<table class="element-box">
								<tr>
									<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
									<td class="element-property" id="element<%= @elements[i].atomic_number %>-property" colspan="2"> <%= @elements[i].mass %> </td>
								</tr>
								<tr>
									<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
								</tr>
								<tr>
									<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
								</tr>
								<tr>
									<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
								</tr>
							</table>
						</td>
						<% i += 1 %>
					<% elsif is_an_element == 5 %>
						<td class="column-periods"> <%= index - 2 %> </td>
					<% else %>
						<td class="no-border"> </td>
					<% end %>
				<% end %>
			<% end %>
		</tr>
	</table>
