<header>
	<div id="property-options">
			<label><button type="submit" value="mass" name="property" id="mass" class="property-button" subname="Atomic mass">Atomic mass (g/mol)</button></label>
			<label><button type="submit" value="melting_point" name="property" id="melting-point" class="property-button" subname="Melting Tª">Melting point (K)</button></label>
			<label><button type="submit" value="boiling_point" name="property" id="boiling-point" class="property-button" subname="Boiling Tª">Boiling point (K)</button></label>
			<label><button type="submit" value="abundance" name="property" id="abundance" class="property-button" subname="Abundance">Abundance (%)</button></label>
			<label><button type="submit" value="radium" name="property" id="radium" class="property-button" subname="Radium">Radium (pm)</button></label>
			<label><button type="submit" value="ionization_energy" name="property" id="ionization-energy" class="property-button" subname="Ionization Energy">Ionization energy (kJ/mol)</button></label>
			<label><button type="submit" value="electronegativity" name="property" id="electronegativity" class="property-button" subname="Electron Negativity"> Electronegativity </button></label>
			<label><button type="submit" value="electron_affinity" name="property" id="electron-affinity"class="property-button" subname="Electron Affinity">Electron affinity (KJ/mol)</button></label>
			<label><button type="submit" value="valencies" name="property" id="valencies" class="property-button" subname="valencies">valencies</button></label>
			<label><button type="submit" value="state" name="property" id="state" class="property-button">State</button></label>
	</div>


</header>
<!-- Tabla Periodica-elementos -->
<div id="periodic-table">
	<table>
		<tr class="row-header">
			<td>
				<div id='legend'>
					<table id="box-legend">
						<tr>
							<td id="atomic-number" class="atomic-number"> <%= @elements[0].atomic_number %> </td>
							<td id="legend-property" class="element-property" colspan="2"> <%= @elements[0].mass %> </td>
						</tr>
						<tr>
							<td id="atomic-short" class="atomic-number" colspan="3"> <%= @elements[0].short_name %></td>
						</tr>
						<tr>
							<td id="elect-configuration" class="electron-configuration" colspan="3"> <%= element_configuration(@elements[0].electron_configuration) %> </td>
						</tr>
						<tr>
							<td id="atomic-name" class="atomic-name" colspan="3"><%= @elements[0].long_name %></td>
						</tr>
					</table>
					<table id="categories-legend">
						<tr>
							<td class="button-category" rowspan="3" data-category="4" data-metal-category="semimetal">Semi Metals</td>
							<td class="button-category" colspan="3" data-metal-category="nonmetal" data-general="nonmetal"> Nonmetals</td>
						<tr>
						</tr>
							<td class="button-category" data-category="5" data-metal-category="nonmetal">Other nonmetals</td>
							<td class="button-category" data-category="6" data-metal-category="nonmetal">Halogen</td>
							<td class="button-category" data-category="7" data-metal-category="nonmetal">Noble Gases</td>
						</tr>
						<tr>
							<td class="button-category" colspan="4" data-metal-category="metal" data-general="metal">Metals</td>
						</tr>
						<tr>
							<td class="button-category" data-category="0" data-metal-category="metal">Alkali Metals</td>
							<td class="button-category" rowspan="2" data-category="2" data-metal-category="metal">Transition Metals</td>
							<td class="button-category" data-category="8" data-metal-category="metal">Lanthanides</td>
							<td class="button-category" rowspan="2" data-category="3" data-metal-category="metal">Basic Metals</td>
						</tr>
						<tr>
							<td class="button-category" data-category="1" data-metal-category="metal">Alkali Earth</td>
							<td class="button-category" data-category="9" data-metal-category="metal">Actinides</td>
						</tr>
					</table>
					<div id='first-state-legend'>
						<table id="state-legend">
							<tr>
								<td><div id="solid" class="border-state"> S</div></td>
								<td class="left-align"> Solid</td>
							</tr>
							<tr>
								<td><div id="liquid" class="border-state">L</div></td>
								<td class="left-align"> Liquid</td>
							</tr>
							<tr>
								<td><div class="border-state" id="gas"> G</div></td>
								<td class="left-align"> Gas</td>
							</tr>
							<tr>
								<td><div class="border-state" id="unknown">U </div></td>
								<td class="left-align"> Unknown</td>
							</tr>
						</table>
						<div>
							<table id="temperature-units">
								<tr>
									<td><span id="kelvin">293</span> &#8490</td>
								</tr>
								<tr>
									<td><span id="centigrades">20</span> &#8451</td>
								</tr>
								<tr>
									<td><span id="fahrenheit">68</span>&#8457</td>
								</tr>
							</table>
						</div>
					</div>
				</div> 
				<div id='second-legend'>
					<div class='slider'>
					    <div class='emptyprogress'></div>
			            <div class='progress'></div>
			            <div class='indicator'></div>
					</div>	<br>				
			        <div id="slider-text">Current Tª: <span id="temperature-val">293</span> &#8490 </div>
				</div>
			</td>

			<% (1..18).each do |i| %>
				<td id="group<%= i %>" class="group"> <%= i %> </td>
			<% end %>
		</tr>
		<% i = 0 %>
		<% @matrix_elements.each_with_index do |period, index| %>
			<tr class="row"> 
				<% if index < 7 %>
					<td class="period" id="period<%= index + 1 %>" data-period="<%= index + 1 %>"> 
						<%= index + 1 %> 
					</td>
				<% else %>
					<td> </td>
				<% end %>

				<% period.each do |is_an_element|  %>
					<% if is_an_element == 2 %>
						<% i = i + 15 %>
					<% elsif is_an_element == 3 %>
						<% i = i - 62 %>
					<% elsif is_an_element == 4 %>
						<% i = i + 17 %>
					<% end %>

					<% if is_an_element > 0 && is_an_element < 5  %>
						<td id="element<%= i %>" class="border-element"> 
							<table class="element-box">
								<tr>
									<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
									<td class="element-property" id="element<%= i %>-property" colspan="2"> <%= @elements[i].mass %> </td>
								</tr>
								<tr>
									<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
								</tr>
								<tr>
									<td class="electron-configuration" colspan="3"> <%= element_configuration(@elements[i].electron_configuration) %> </td>
								</tr>
								<tr>
									<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
								</tr>
							</table>
						</td>
						<% i += 1 %>
					<% elsif is_an_element == 5 %>
						<td class="period" id="period<%= index %>" data-period="<%= index - 2 %>"> <%= index - 2 %> </td>
					<% elsif is_an_element == 6 %>
						<td class="border-element elementoids" id="elementoids<%= index + 1 %>" data-period="<%= index + 1 %>"> <%= (i+1) %> - <%= (i+15) %> </td>
					<% else %>
						<td class="no-border"> </td>
					<% end %>
				<% end %>
			<% end %>
		</tr>
	</table>
</div>
