<header></header>
<!-- Tabla Periodica-elementos -->
	<table id="periodic-table">
		<tr class="row-header">
			<td> </td>
			<% (1..18).each do |i| %>
				<td> <%= i %> </td>
			<% end %>
		</tr>
		
			<tr class="row">
				<% i=0 %>
					<td class="column-periods"> 1 </td>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
					<td class="no-border" colspan="16"> </td>
					<td id="element<%= @elements[i+1].atomic_number %>" class="border-element"> 
						<table class="element-box">
								<tr>
									<td class="atomic-number"> <%= @elements[i+1].atomic_number %> </td>
									<td class="element-property" colspan="2"> <%= @elements[i+1].mass %> </td>
								</tr>
								<tr>
									<td class="atomic-short" colspan="3"> <%= @elements[i+1].short_name %></td>
								</tr>
								<tr>
									<td colspan="3"> <%= @elements[i+1].electron_configuration %> </td>
								</tr>
								<tr>
									<td class="atomic-name" colspan="3"> <%= @elements[i+1].long_name %></td>
								</tr>
							</table>
					</td>
			</tr>

			<tr class="row">
				<td class="column-periods"> 2 </td>
				<% for i in 2..3 %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
				<td class="no-border" colspan="10"> </td>
				<% for i in 4..9  %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
			</tr>

			<tr class="row">
				<td class="column-periods"> 3 </td>
				<% for i in 10..11  %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
				<td class="no-border" colspan="10"> </td>
				<% for i in 12..17 %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
			</tr>
			<tr class="row">
				<td class="column-periods"> 4 </td>
				<% for i in 18..35 %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
			</tr>
			<tr class="row">
				<td class="column-periods"> 5 </td>
				<% for i in 36..53 %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
			</tr>
			<tr class="row">
				<td class="column-periods"> 6 </td>
				<% for i in 54..55 %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
				<td class="no-border"> </td>
				<% for i in 71..85  %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
			</tr>
			<tr class="row">
				<td class="column-periods"> 7 </td>
				<% for i in 86..87 %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
				<td class="no-border"> </td>
				<% for i in 103..117  %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
			</tr>
			<tr class="row">
				<td class="no-border" colspan="18"> </td>
			</tr>
			<tr class="row">
				<td class="no-border" colspan="3"> </td>
				<td class="column-periods"> 6 </td>
				<% for i in 56..70  %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
			</tr>
			<tr class="row">
				<td class="no-border" colspan="3"> </td>
				<td class="column-periods"> 7 </td>
				<% for i in 88..102  %>
					<td id="element<%= @elements[i].atomic_number %>" class="border-element"> 
						<table class="element-box">
							<tr>
								<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
								<td class="element-property" colspan="2"> <%= @elements[i].mass %> </td>
							</tr>
							<tr>
								<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
							</tr>
							<tr>
								<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
							</tr>
							<tr>
								<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
							</tr>
						</table>
					</td>
				<% end %>
			</tr>
	</table>
