<header>
	<div id="property-options">
			<label><button type="submit" value="mass" name="property" id="mass" class="property-button">Atomic mass (g/mol)</button></label>
			<label><button type="submit" value="melting_point" name="property" id="melting-point" class="property-button">Melting point (K)</button></label>
			<label><button type="submit" value="boiling_point" name="property" id="boiling-point" class="property-button">Boiling point (K)</button></label>
			<label><button type="submit" value="abundance" name="property" id="abundance" class="property-button">Abundance (%)</button></label>
			<label><button type="submit" value="radium" name="property" id="radium" class="property-button">Radium (pm)</button></label>
			<label><button type="submit" value="ionization_energy" name="property" id="ionization-energy" class="property-button">Ionization energy (kJ/mol)</button></label>
			<label><button type="submit" value="electronegativity" name="property" id="electronegativity" class="property-button"> Electronegativity </button></label>
			<label><button type="submit" value="electron_affinity" name="property" id="electron-affinity"class="property-button">Electron affinity (KJ/mol)</button></label>
			<label><button type="submit" value="valencies" name="property" id="valencies" class="property-button">valencies</button></label>
			<label><button type="submit" value="state" name="property" id="state" class="property-button">State</button></label>
	</div>


</header>
<!-- Tabla Periodica-elementos -->
	<table id="periodic-table">
		<tr class="row-header">
			<td> </td>
			<% (1..18).each do |i| %>
				<td> <%= i %> </td>
			<% end %>
		</tr>
		<% i = 0 %>
		<% @matrix_elements.each_with_index do |period, index| %>
			<tr class="row"> 
				<td class="column-periods"> 
					<% if index < 7 %>
						<%= index + 1 %> 
					<% end %>
				</td>
				<% period.each do |is_an_element|  %>
					<% if is_an_element == 2 %>
						<% i = i + 15 %>
					<% elsif is_an_element == 3 %>
						<% i = i - 62 %>
					<% elsif is_an_element == 4 %>
						<% i = i + 17 %>
					<% end %>

					<% if is_an_element > 0 && is_an_element < 5  %>
						<td id="element<%= i %>" class="border-element"> 
							<table class="element-box">
								<tr>
									<td class="atomic-number"> <%= @elements[i].atomic_number %> </td>
									<td class="element-property" id="element<%= i %>-property" colspan="2"> <%= @elements[i].mass %> </td>
								</tr>
								<tr>
									<td class="atomic-short" colspan="3"> <%= @elements[i].short_name %></td>
								</tr>
								<tr>
									<td colspan="3"> <%= @elements[i].electron_configuration %> </td>
								</tr>
								<tr>
									<td class="atomic-name" colspan="3"><%= @elements[i].long_name %></td>
								</tr>
							</table>
						</td>
						<% i += 1 %>
					<% elsif is_an_element == 5 %>
						<td class="column-periods"> <%= index - 2 %> </td>
					<% else %>
						<td class="no-border"> </td>
					<% end %>
				<% end %>
			<% end %>
		</tr>
	</table>
