<div class="container">
  <div class="col-md-12">
    <h1 class='centrated-title'>Join to PeTaIron</h1>
		<div class="page-header"></div>
	</div>
	<br>
</div>

<div class="container">
	<form class="col-md-3"></form>
	<div class="col-md-6">

	<%= form_for @user, :html => { :multipart => true } do |f| %>
		<% if flash[:alert] %>
			<p class="error-msg">
				<%= flash[:alert] %>
			</p>
		<% elsif flash[:error] %>
			<p class="error-msg">
				<% flash[:error].each do |error_msg| %>
	    		<li><%= error_msg %></li>
	  		<% end %>
			</p>
		<% end %>

	    <div class="form-group">
	    	<div><strong> Nombre:</strong></div>
	    	<%= f.text_field :name, class: "form-control input-lg" %>
	    </div>
	    <div class="form-group">
	    	<div><strong> Nick:</strong></div>
	    	<%= f.text_field :nick, class: "form-control input-lg" %>
	    </div>
	    <div class="form-group">
	    	<div><strong> Email:</strong></div>
	    	<%= f.email_field :email, class: "form-control input-lg" %>
	    </div>
	    <div class="form-group">
	    	<%= f.file_field :image %>
	    </div>
	    <div class="form-group">
	    	<div><strong> Password:</strong></div>
	    	<%= f.text_field :password, class: "form-control input-lg"  %>
	    </div>
	    <div class="form-group">
	    	<%= f.submit 'Create', class: "btn btn-primary btn-lg btn-block accept" %>
	    	<%= link_to 'Cancel', root_path, :class=> "btn btn-primary btn-lg btn-block cancel" %>
	    </div>
	</div>
	<% end %>
	<form class="col-md-3"></form>

</div>

<div class="container">
	<div class="page-header-bottom"></div>
</div>

