<div class="container">
  <div class="col-md-12">
		<% if flash[:alert] %>
			<p class="error-msg">
				<%= flash[:alert] %>
			</p>
		<% elsif flash[:notice] %>
			<p class="notice-msg">
				<%= flash[:notice] %>
			</p>
		<% end %>
    <h2 class='centrated-title'><%= @user.nick %></h2>
		<div class="page-header"></div>
	</div>
	<br>
</div>


<div class="container">
	<div class="row-container">
    <div class="col-md-5 profile-view">
      	<div class="row-container">
	        <div class="col-md-7">
	        	<br>
	          <p><strong> Name: </strong> <%= @user.name %> </p>
	          <p><strong> Email: </strong> <%= @user.email %> </p>
	          <p><strong> Level: </strong> <%= @user.level %> </p>
	        </div>
	        <div class="col-md-5 centrated-img">
						<%= image_tag @user.image, :class => "img-thumbnail img-profile-size" %>
					</div>
				</div>
				<div class="row-container">
					<% if current_user && current_user.email == @user.email %>

							<div class="col-md-6"><%= link_to 'Edit account', edit_user_path(@user), class: "btn btn-primary btn-lg btn-block accept" %></div>
							<div class="col-md-6"><%= link_to 'Delete account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-lg btn-block cancel" %></div>

					<% else %>
							<div class="col-md-3"></div>
							<div class="col-md-6"><%= link_to 'Back', users_path, class: "btn btn-primary btn-lg btn-block" %></div>
							<div class="col-md-3"></div>
					<% end %>
				</div>
  	</div>
  	<div class="col-md-6">
  		<div class="container">
				<div class="row-container">
					<div class="col-md-1"></div>
					<div class="col-md-5">
				    <h1 class='centrated-title-ranking'>Timer Mode</h1>
				    <div class="page-header"></div>
				    <br>
						<% if @score_timer[0] %>
							<% if @score_timer_easy[0] %>
								<table class='easy score-levels'>	
							    <tr><td colspan="2">Easy</td></tr>
									<tr class="table-header">
										<td>Puntuation</td>
										<td>Time</td>
									</tr>	
								<% @score_timer_easy.each do |score| %>
									<tr>
										<td><%= score.puntuation.to_i %></td>
										<td><%= score.mins %> m <%= score.secs %> s</td>
									</tr>	
								<% end %>
								</table>
							<% end %>
							<% if @score_timer_medium[0] %>
							<table class='medium score-levels'>	
									<tr><td colspan="2">Medium</td></tr>
									<tr class="table-header">
										<td>Puntuation</td>
										<td>Time</td>
									</tr>	
								<% @score_timer_medium.each do |score| %>
									<tr>
										<td><%= score.puntuation.to_i %></td>
										<td><%= score.mins %> m <%= score.secs %> s</td>
									</tr>	
								<% end %>
								</table>
							<% end %>
							<% if @score_timer_hard[0] %>
								<table class='hard score-levels'>	
									<tr><td colspan="2">Hard</td></tr>
									<tr class="table-header">
										<td>Puntuation</td>
										<td>Time</td>
									</tr>	
								<% @score_timer_hard.each do |score| %>
									<tr>
										<td><%= score.puntuation.to_i %></td>
										<td><%= score.mins %> m <%= score.secs %> s</td>
									</tr>	
								<% end %>
								</table>
							<% end %>
							<% if @score_timer_expert[0] %>
								<table class='expert score-levels'>	
								<tr><td colspan="2">Expert</td></tr>
									<tr class="table-header">
										<td>Puntuation</td>
										<td>Time</td>
									</tr>	
								<% @score_timer_expert.each do |score| %>
									<tr>
										<td><%= score.puntuation.to_i %></td>
										<td><%= score.mins %> m <%= score.secs %> s</td>
									</tr>	
									<% end %>
								</table>
							<% end %>
						<% else %>
							<table>
								<tr class='score-levels'>
									<td colspan="2">No rankings yet.</td>
								</tr>
							</table>
						<% end %>

						<p class="publicity"></p>

				    <h1 class='centrated-title-ranking'>Normal Mode</h1>
				    <div class="page-header"></div>
				    <br>
				    <% if @score_normal[0] %>
							<% if @score_normal_easy[0] %>
								<table class='easy score-levels'>	
									<tr><td colspan="2">Easy</td></tr>
									<tr class="table-header">
										<td>Puntuation</td>
										<td>Time</td>
									</tr>	
								<% @score_normal_easy.each do |score| %>
									<tr>
										<td><%= score.puntuation.to_i %></td>
										<td><%= score.mins %> m <%= score.secs %> s</td>
									</tr>	
								<% end %>
								</table>
							<% end %>
							<% if @score_normal_medium[0] %>
								<table class='medium score-levels'>	
									<tr><td colspan="2">Medium</td></tr>
									<tr class="table-header">
										<td>Puntuation</td>
										<td>Time</td>
									</tr>	
								<% @score_normal_medium.each do |score| %>
									<tr>
										<td><%= score.puntuation.to_i %></td>
										<td><%= score.mins %> m <%= score.secs %> s</td>
									</tr>	
								<% end %>
								</table>
							<% end %>
							<% if @score_normal_hard[0] %>
								<table class='hard score-levels'>	
									<tr><td colspan="2">Hard</td></tr>
									<tr class="table-header">
										<td>Puntuation</td>
										<td>Time</td>
									</tr>	
								<% @score_normal_hard.each do |score| %>
									<tr>
										<td><%= score.puntuation.to_i %></td>
										<td><%= score.mins %> m <%= score.secs %> s</td>
									</tr>	
								<% end %>
								</table>
							<% end %>
							<% if @score_normal_expert[0] %>
								<table class='expert score-levels'>
									<tr><td colspan="2">Expert</td></tr>
									<tr class="table-header">
										<td>Puntuation</td>
										<td>Time</td>
									</tr>		
								<% @score_normal_expert.each do |score| %>
									<tr>
										<td><%= score.puntuation.to_i %></td>
										<td><%= score.mins %> m <%= score.secs %> s</td>
									</tr>	
								<% end %>
								</table>
							<% end %>
						<% else %>
							<table>
								<tr class='score-levels'>
									<td colspan="2">No rankings yet.</td>
								</tr>
							</table>
						<% end %>
					</div>
				</div>
			</div>
  	</div>
  	<div class="col-md-1"></div>
	</div>
</div>

<div class="container">
	<div class="page-header-bottom"></div>
</div>
